# ==========================================
# Python
# ==========================================
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# ==========================================
# GROMACS - fichiers temporaires et lourds
# ==========================================
*.xtc
*.trr
*.edr
*.cpt
*.tpr
*.log

# Sauvegardes automatiques GROMACS
#*
*#

# Fichiers temporaires
*.tmp
*.bak
*.swp

# ==========================================
# Nextflow
# ==========================================
.nextflow/
.nextflow.*
work/

# ==========================================
# Système
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# IDE
# ==========================================
.vscode/
.idea/

# ==========================================
# LaTeX / Beamer temporaires
# ==========================================
*.aux
*.nav
*.snm
*.toc
*.out
*.fls
*.fdb_latexmk
*.synctex.gz

# Fichiers de suivi locaux / sauvegardes
*.pid
*.before_*
*_before_pbc_fix/
before_pbc_fix/
*.bak_before_*
