# ==========================================
# Python
# ==========================================
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# ==========================================
# GROMACS - fichiers temporaires et lourds
# ==========================================
*.xtc
*.trr
*.edr
*.cpt
*.tpr
*.log

# Sauvegardes automatiques GROMACS
#*
*#

# Fichiers temporaires
*.tmp
*.bak
*.swp

# ==========================================
# Nextflow
# ==========================================
.nextflow/
.nextflow.*
work/

# ==========================================
# Système
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# IDE
# ==========================================
.vscode/
.idea/
